/* styles.css */
body {
    font-family: 'Roboto', sans-serif;
    background-image: url('Image/fond.avif');
}

/* Header Styles */
#MainTop {
    background-color: #343a40;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    position: fixed; /* Fix the menu at the top */
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure it stays above other elements */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a slight shadow for depth */
}

#MainTop nav {
    display: flex;
    gap: 20px;
}

#MainTop nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

#MainTop nav a:hover {
    background-color: #007bff;
    color: #ffffff;
    transform: translateY(-2px); /* Slight lift effect on hover */
}

#MainTop nav a.active {
    background-color: #0056b3;
    color: #ffffff;
}

main {
    max-width: 800px;
    margin: 80px auto 20px auto; /* Adjust top margin to account for fixed header */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #343a40;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: #007bff;
    margin-bottom: 10px;
}

p {
    color: #666666;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Styles for blocks */
.bloc {
    padding: 20px;
    margin: 20px 0;
    background-color: #e9ecef;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.bloc:hover {
    background-color: #ced4da;
    transform: translateY(-5px);
}

/* Styles for sub-blocks */
.sub-bloc {
    padding: 10px;
    margin: 10px 0 10px 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.sub-bloc:hover {
    background-color: #e2e6ea;
    transform: translateY(-3px);
}

/* Styles for PDF viewer */
.pdf-viewer {
    margin-top: 20px;
    display: none;
}

#pdfViewer iframe {
    border: none;
}

/* Styles for return button */
.return-button-container {
    text-align: center;
    margin-top: 20px;
}

.return-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-weight: bold;
}

.return-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}
