body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Le style du web */
#MainTop {
    background-color: #004d40;
    padding: 20px 0;
}

#MainTop header {
    text-align: center;
}

#MainTop nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#MainTop nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #00796b;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#MainTop nav a:hover {
    background-color: #004d40;
    transform: scale(1.1);
}

main h1 {
    text-align: center;
    color: #00796b;
    margin: 20px 0;
    font-size: 2.5rem;
}

.search-and-sort {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.search-and-sort input[type="text"] {
    padding: 12px 20px;
    font-size: 1rem;
    border: 2px solid #00796b;
    border-radius: 25px;
    width: 300px;
    outline: none;
}

.search-and-sort select {
    padding: 12px;
    font-size: 1rem;
    border: 2px solid #00796b;
    border-radius: 25px;
    outline: none;
}

/* Les conteneurs et blocks des articles */
.articles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.article-block {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.article-block:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.article-block img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 10px 0;
    transition: transform 0.3s ease;
}

.article-block img:hover {
    transform: scale(1.1);
}

.article-block h2 {
    color: #00796b;
    font-size: 1.5rem;
    margin: 15px 0;
}

.article-block p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 10px 0;
    color: #555;
}

.article-block a {
    display: inline-block;
    padding: 10px 15px;
    color: #ffffff;
    background-color: #00796b;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.article-block a:hover {
    background-color: #004d40;
    transform: scale(1.05);
}

/* Responsive */
@media (max-width: 768px) {
    .articles-container {
        flex-direction: column;
        align-items: center;
    }

    .article-block {
        width: 90%;
    }
}